<%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-like" %>
<%= render 'partials/user', user: @user %>

<% if @user_posts.length > 0 %>
  <% @user_posts.each do |post| %>
    <%= render partial: 'partials/posts', locals: { post: post } %>
    <% if post.comments_counter > 0 %>
      <div class="comment">
        <% post.comments.each do |comment| %>
          <%= render partial: 'partials/comments', locals: { comment: comment } %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="pagination-container">
  <%= link_to "Previous Page", user_posts_path(@user, page: @page - 1), class: 'btn'%>
  <span><%= @page +1 %></span>
  <%= link_to "Next Page", user_posts_path(@user, page: @page + 1), class: 'btn' %>
</div>

<%= render 'partials/btn_post', user: @user %>
